@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Définir le poids par défaut */
    scroll-behavior: smooth;
}

/* La Navbar */
.navbar {
    width: 100%;
    height: 12vh;
    background-color: rgb(246, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Partie Gauche */
.left-nav {
    width: 25%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    height: auto;
}

/* Partie Centre */
.mid-nav {
    width: 50%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.mid-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mid-nav ul li {
    position: relative;
}

.mid-nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px 35px;
    transition: color 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.mid-nav a:hover {
    color: #efa507;
}

/* Menu déroulant */
.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0.5rem 0;
    min-width: 150px; 
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content a {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}


/* Partie Droite */
.right-nav {
    width: 25%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}



/* ----------- Première Page Vins-------------*/
.top-section-vins {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('../assets/vins.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
}

/* Le filtre opacité */
.top-section-vins::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
    z-index: 2;
}

.content-vins {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

/* Style pour le titre */
.content-vins h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Style pour le sous-titre */
.content-vins p {
    font-size: 1.5rem; 
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-vins {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-vins:hover {
    background-color: #d18e06;
}



/* ------- Presentation Vins ---------- */

.global-vins{
    width: 100%;
    height: 120vh;
    background: rgb(23,32,63);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(35,40,75,1) 50%, rgba(23,32,63,1) 100%);
    display: flex;
    flex-direction: column;
}

.top-vins{
    width: 100%;
    height: 35vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.first-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 3%;
    /* background-color: #d18e06; */
}

.second-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: aqua; */
}

.third-p{
    width: 70%;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: blue; */
    text-align: center;
}

.fourth-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: brown; */
}

.container-vins{
    width: 100%;
    height: 85vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center
}

.left-container{
    width: 40%;
    height: 75vh;
    /* background-color: black; */
}

/* Les texts */
.first-container-vins{
    margin-top: 10%;
    width: 100%;
    height: 10vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Ombre */
    /* background-color: red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;

}

.second-container-vins{
    width: 100%;
    height: 15vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.third-container-vins{
    width: 100%;
    height: 15vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.fourth-container-vins{
    width: 100%;
    height: 15vh;
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

/* Partie droite */
.right-container{
    width: 40%;
    height: 60vh;
    background-color: purple;
    margin-left: 5%;
    background-image: url('../assets/cave-vins.png');
    border-radius: 50% 50% 46% 54% / 47% 25% 75% 53%;
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

.right-container:hover{
    width: 40%;
    height: 60vh;
    background-color: purple;
    margin-left: 5%;
    background-image: url('../assets/cave-vins.png');
    border-radius: 2%;
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -------------- Deuxième Page ------------------ */

.global-carte-vins{
    width: 100%;
    height: 100vh;
    background: rgb(23,32,63);
    background: linear-gradient(174deg, rgba(23,32,63,1) 0%, rgba(35,40,75,1) 50%, rgba(0,0,0,1) 100%);
}

.top-section3{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    font-size: 24px;
    /* background-color: blue; */
    flex-direction: column;
    color: white;
}

.undertitle{
    width: 30%;
    height: 40%;
    /* background-color: yellow; */
    margin-bottom: 25px;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.global-section3{
    width: 100%;
    height: 70vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Image de gauche */
.left-section3{
    width: 60%;
    height: 100%;
    margin-top: 5%;
    background-color: red;
    position: relative;
    background-image: url('../assets/carte-vins.jpg');
    background-color: #efa507;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius:  64% 36% 38% 62% / 45% 49% 51% 55%; 
   
    /* border-radius: 5%; */
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
    z-index: 1;
    display: flex;
}

.left-section3:hover{
    width: 60%;
    height: 100%;
    background-color: red;
    position: relative;
    background-image: url('../assets/carte-vins.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    /* border-radius:  64% 36% 38% 62% / 45% 49% 51% 55%; */
    z-index: 1;
    display: flex;
} 
 
/* Top Section */
.top-section {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: url('../assets/background1.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
}
 
/* Le filtre opacité */
.top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    z-index: 2;
}
 
.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}
 
/* Style pour le titre */
.content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
 
/* Style pour le sous-titre */
.content p {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
 
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
 
.btn:hover {
    background-color: #d18e06;
}


        /*-------------- Footer ----------------------- */

        /* Footer styles */
        footer {
            background-color: #1c1c1a;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            font-size: 0.9em;
        }
 
        .footer-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
 
        .footer-content h2 {
            margin-bottom: 10px;
        }
 
        .footer-content a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            margin-bottom: 20px;
            border: 1px solid #fff;
           
        }
       
        .footer-content .info {
            margin: 20px 0;
        }
        .footer-content .info h4 {
            color: #946e55 ;
        }
 
        .footer-content .logos {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 20px;
        }
 
        .footer-content .socials {
            display: flex;
            gap: 0;
            margin-right: 130px;
        }
 
        .footer-content .socials a {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;
 
        }
 
        .separator {
            width: 50%;
            height: 3px; /* Épaisseur de la barre */
            background-color:rgb(187, 107, 54); /* Couleur de la barre */
            margin: 30px 0; /* Espacement autour de la barre */
        }
 
        .divs-container {
            width: 100%;
            display: flex; /* Aligne les enfants sur une ligne */
            justify-content: space-between; /* Centre les éléments horizontalement */
            align-items: center; /* Centre les éléments verticalement */
           
         
        }
 
        .divs-container .socials a {
       
            width:-45px;
            height:auto;
        }
       
        /* Responsive adjustments */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
 
            .form-section, .map-section {
                width: 100%; /* Chaque section occupe 100% de la largeur */
            }
 
            .form-section {
                padding: 20px;
            }
        }
 
        @media (max-width: 480px) {
            .form-section h3 {
                font-size: 1.5em;
            }
 
            .form-section input, .form-section select, .form-section textarea {
                font-size: 0.9em;
            }
 
            .form-section button {
                font-size: 0.9em;
                padding: 8px 15px;
            }
        }
 

 
   
 
 
 
 

 

 