@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-weight: 400; /* Définir le poids par défaut */
    scroll-behavior: smooth;
}


/* ----------- Première Page chambre BACKGROUND -------------*/
.top-section-vins {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('../images/chambre1.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
}

/* Le filtre opacité */
.top-section-vins::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 2;
}

.content-vins {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

/* Style pour le titre */
.content-vins h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Style pour le sous-titre */
.content-vins p {
    font-size: 1.5rem; 
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-vins {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-vins:hover {
    background-color: #d18e06;
}

/* ---------- Deuxième Page CLASSIQUE ------------ */
.presentation-spa{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-page{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-box{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
}

.content-top{
    color: #e1b908;
    font-weight: 200; 
    font-family: 'Raleway', sans-serif;
    /* background-color: red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: baseline;
}

.content-mid{
    width: 100%;
    height: 130px;
    color: #1C1C1C;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    /* background-color: blue; */
    margin: 0;
    display: flex;
    align-items: end;
}

.content-bottom{
    /* background-color: #d18e06; */
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}

.right-page{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Box de droite avec l'image */
.right-box{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-classique.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius: 20%;
    z-index: 1;
    display: flex;
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
}

/* Le hover */
.right-box:hover{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-classique.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    z-index: 1;
    display: flex;
}


/* ------------- Troisième page CONFORT ------------- */
.presentation-restaurant{
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Box à gauche avec l'image */
.left-box-r{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-confort.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius: 20%;
    z-index: 1;
    display: flex;
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
}

/* Le hover */
.left-box-r:hover{
    width: 90%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-confort.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    z-index: 1;
    display: flex;
}

.left-page-r{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-page-r{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.right-box-r{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
}

.content-top-r{
    color: #e1b908;
    font-weight: 200; 
    font-family: 'Raleway', sans-serif;
    /* background-color: red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.content-mid-r{
    width: 100%;
    height: 130px;
    color: #1C1C1C;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    /* background-color: blue; */
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
}

.content-bottom-r{
    /* background-color: #d18e06; */
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: end;
    display: block;

}

/* Chambre standing */

.right-page-x{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-box-x{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-standing.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius: 20%;
    z-index: 1;
    display: flex;
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
}

.right-box-x:hover{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/chambre-standing.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    z-index: 1;
    display: flex;
}

/* Chambre SUITE */

.left-page-s{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-box-s{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/suite-chambre.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius: 20%;
    z-index: 1;
    display: flex;
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
}

.left-box-s:hover{
    width: 75%;
    height: 75%;
    background-color: rgb(44, 148, 148);
    position: relative;
    background-image: url('../images/suite-chambre.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    z-index: 1;
    display: flex;
}

.res {
    display: none;
}
a {
    display: inline-block;
}


/* Responsive du Top Section */
@media screen and (max-width: 768px) {

    
    .top-section-vins {
        height: 60vh;
        background-size: cover;
    }
    .content-vins h1 {
        font-size: 2rem;
        margin-top: 30%;
    }
    .content-vins p {
        font-size: 1rem;
    }
    .btn-vins {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .presentation-spa, .presentation-restaurant{
        display: flex;
        flex-direction: column;
    }
    .right-page, .left-page-r, .right-page-x, .left-page-s{
        width: 300px;
        margin-left: 18px;
    }
    .content-top, .content-top-r {
        margin-bottom: 150px;
    }

    .content-mid, .content-mid-r {
        width: 100%;
        height: 130px;
        color: #1C1C1C;
        font-size: 24px;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 2px;
        /* background-color: blue; */
        margin-top: 50px;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        text-align: initial;    
    }
    .content-bottom, .content-bottom-r {
        display: none;
    }

    .right-box {
        width: 100%;
        height: 100%;
        background-color: rgb(44, 148, 148);
        position: relative;
        background-image: url('../images/chambre-classique.jpg');
        background-color: #efa507;
        background-size: cover;
        background-position: center;
        border-radius: 20%;
    } 
    .left-box-r {
        width: 100%;
        height: 100%;
        background-color: rgb(44, 148, 148);
        position: relative;
        background-image: url('../images/chambre-standing.jpg');
        background-color: #efa507;
        background-size: cover;
        background-position: center;
        border-radius: 20%;
    } 
    .right-box-x {
        width: 100%;
        height: 100%;
        background-color: rgb(44, 148, 148);
        position: relative;
        background-image: url('../images/chambre1.jpg');
        background-color: #efa507;
        background-size: cover;
        background-position: center;
        border-radius: 20%;
    }
    .left-box-s{
        width: 100%;
        height: 100%;
        background-color: rgb(44, 148, 148);
        position: relative;
        background-image: url('../images/chambre3.jpg');
        background-color: #efa507;
        background-size: cover;
        background-position: center;
        border-radius: 20%;
    }

    .presentation-spa, .presentation-restaurant{
        margin-bottom: 30px;
    }

    .res, a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px ;
    }



}

@media (max-width: 480px) {
    .top-section-vins {
        height: 50vh;
    }
}
 
   
 
 
 
 

 

 