@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-weight: 400; /* Définir le poids par défaut */
    scroll-behavior: smooth;
}



/* ----------- Première Page Vins-------------*/
.top-section-vins {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('../images/presentation-chef.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
}

/* Le filtre opacité */
.top-section-vins::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
    z-index: 2;
}

.content-vins {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

/* Style pour le titre */
.content-vins h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Style pour le sous-titre */
.content-vins p {
    font-size: 1.5rem; 
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-vins {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-vins:hover {
    background-color: #d18e06;
}



/* ------- Presentation Vins ---------- */

.global-vins{
    width: 100%;
    height: 120vh;
    background: rgb(23,32,63);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(35,40,75,1) 50%, rgba(23,32,63,1) 100%);
    display: flex;
    flex-direction: column;
}

.top-vins{
    width: 100%;
    height: 35vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.first-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 3%;
    /* background-color: #d18e06; */
}

.second-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: aqua; */
}

.third-p{
    width: 70%;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: blue; */
    text-align: center;
}

.fourth-p{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    /* background-color: brown; */
}

.container-vins{
    width: 100%;
    height: 85vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center
}

.left-container{
    width: 40%;
    height: 75vh;
    /* background-color: black; */
}

/* Les texts */
.first-container-vins{
    margin-top: 10%;
    width: 100%;
    height: 10vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Ombre */
    /* background-color: red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;

}

.second-container-vins{
    width: 100%;
    height: 15vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.third-container-vins{
    width: 100%;
    height: 15vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.fourth-container-vins{
    width: 100%;
    height: 15vh;
    /* background-color: burlywood; */
    font-size: small;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

/* Partie droite */
.right-container{
    width: 40%;
    height: 60vh;
    background-color: purple;
    margin-left: 5%;
    background-image: url('../images/chef.jpg');
    border-radius: 50% 50% 46% 54% / 47% 25% 75% 53%;
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

.right-container:hover{
    width: 40%;
    height: 60vh;
    background-color: purple;
    margin-left: 5%;
    background-image: url('../images/chef.jpg');
    border-radius: 2%;
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -------------- Deuxième Page ------------------ */

.global-carte-vins{
    width: 100%;
    height: 100vh;
    background: rgb(23,32,63);
    background: linear-gradient(174deg, rgba(23,32,63,1) 0%, rgba(35,40,75,1) 50%, rgba(0,0,0,1) 100%);
}

.top-section3{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    font-size: 24px;
    /* background-color: blue; */
    flex-direction: column;
    color: white;
}

.undertitle{
    width: 30%;
    height: 40%;
    /* background-color: yellow; */
    margin-bottom: 25px;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.global-section3{
    width: 100%;
    height: 70vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Image de gauche */
.left-section3{
    width: 60%;
    height: 100%;
    margin-top: 5%;
    background-color: red;
    position: relative;
    background-image: url('../images/notre-equipe.png');
    background-color: #efa507;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    border-radius:  64% 36% 38% 62% / 45% 49% 51% 55%; 
   
    /* border-radius: 5%; */
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.30);
    z-index: 1;
    display: flex;
}

.left-section3:hover{
    width: 60%;
    height: 100%;
    background-color: red;
    position: relative;
    background-image: url('../images/notre-equipe.png');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    /* border-radius:  64% 36% 38% 62% / 45% 49% 51% 55%; */
    z-index: 1;
    display: flex;
} 
 
/* Top Section */
.top-section {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: url('../images/background1.jpg');
    background-color: #efa507;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
}
 
/* Le filtre opacité */
.top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    z-index: 2;
}
 
.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}
 
/* Style pour le titre */
.content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
 
/* Style pour le sous-titre */
.content p {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
 
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
 
.btn:hover {
    background-color: #d18e06;
}

 


/* Responsive du Top Section */
@media screen and (max-width: 768px) {
    .top-section-vins {
        height: 60vh;
        background-size: cover;
    }
    .content-vins h1 {
        font-size: 2rem;
        margin-top: 30%;
    }
    .content-vins p {
        font-size: 1rem;
    }
    .btn-vins {
        font-size: 1rem;
        padding: 8px 16px;
    }
}



@media (max-width: 768px) {
    .global-section3 {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .left-section3, .right-section3 {
        height: 60vh;
        background-size: cover;
        margin-bottom: 60px;
        margin-top: 100px;
        width: 100%;
    }

    .content-vins h1 {
        font-size: 2rem;
    }

    .content-vins p {
        font-size: 1.2rem;
    }



    .left-container {
        display: none;
    }

    .right-container{
        width: 300px;
    }

}

@media (max-width: 480px) {
    .top-section-vins {
        height: 50vh;
    }
}
 

 
   
 
 
 
 

 

 
 

 

 