/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    color: #fff;
    
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }


/* Top Section */
.top-section {
    width: 100%;
    height: 88vh;
    position: relative;
    background-image: url('https://cdn.glasspress.io/health-street.net/industry-subpage-hero/hospitality-services-background-checks-image-industry-subpage-hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
}

/* Le filtre opacité */
.top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0.5, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    z-index: 2;
}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #efa507;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #d18e06;
}


.content {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

/* Style pour le titre */
.content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Style pour le sous-titre */
.content p {
    font-size: 1.5rem; 
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.services-section {
    margin: 50px;
    text-align: center;
    padding: 50px 20px;
    color: #424242;
}
.services-section h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.services-section hr {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}
.image-section {
    text-align: center;
    margin: 50px 20px;
}
.image-section img {
    max-width: 100%;
    height: auto;
    margin: 50px;
}
.family-section {
    text-align: center;
    padding: 50px 20px;
}
.family-section h2 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.family-section hr {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}
.family-section p {
    font-size: 14px;
    color: #555;
    margin: 20px auto;
    max-width: 600px;
}
.commodities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.commodities div {
    flex: 1 1 calc(50% - 40px);
    max-width: 400px;
    text-align: left;
}



/* Slider styles */
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    padding: 50px 0;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Taille ajustée pour les slides visibles */
}

.service-item {
    flex: 0 0 33.333%; /* Trois éléments visibles (centré sur 3 éléments) */
    text-align: center;
    color: #fff;
    opacity: 0.5; /* Slides par défaut moins visibles */
    transform: scale(0.9); /* Taille réduite par défaut */
    transition: transform 0.5s, opacity 0.5s;
}

.service-item.active {
    opacity: 1; /* Slide active pleinement visible */
    transform: scale(1.2); /* Mise en avant de la slide active */
}

.service-item img {
    width: 30rem ;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 10px;
}

.service-item h2 {
    font-size: 1.2rem;
    color: #ffd21f;
    margin: 10px 0;
}

.service-item p {
    font-size: 0.9rem;
    color: #424242;
}

/* Navigation buttons */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Responsive du Top Section */
@media screen and (max-width: 768px) {
    .top-section {
        height: 60vh;
        background-size: cover;
    }
    .content h1 {
        font-size: 2rem;
        margin-top: 30%;
    }
    .content p {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}


/* Responsive adjustments for the slider */
@media (max-width: 1024px) {
    .service-item {
        flex: 0 0 50%; /* Deux éléments visibles sur tablette */
        transform: scale(1);
    }

    .service-item img {
        width: 25rem;
        height: 18rem;
    }
}

@media (max-width: 768px) {
    .service-item {
        flex: 0 0 100%; /* Un seul élément visible sur mobile */
        opacity: 1;
        transform: scale(1);
    }

    .service-item img {
        width: 20rem;
        height: 15rem;
    }

    button.prev, button.next {
        font-size: 1.5rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .service-item img {
        width: 180px;
        height: 12rem;
    }

    button.prev, button.next {
        font-size: 1.2rem;
        padding: 6px;
    }
}
